{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Edit Student</h2>
        <form action="/students/edit/{{ student.student_id }}" method="POST">
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ student.first_name |title }}" required>
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ student.last_name |title}}" required>
            </div>
            <div class="mb-3">
                <label for="dob" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="dob" name="dob" value="{{ student.dob}}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ student.email }}" required>
            </div>
            <div class="mb-3">
                <label for="course_enrolled" class="form-label">Course Enrolled</label>
                <input type="text" class="form-control" id="course_enrolled" name="course_enrolled" value="{{ student.course_enrolled }}" required>
            </div>
            <div class="mb-3">
                <label for="year_of_study" class="form-label">Year of Study</label>
                <input type="number" class="form-control" id="year_of_study" name="year_of_study" value="{{ student.year_of_study }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Student</button>
        </form>
    </div>
{% endblock %}
